<div class="jumbotron" style="background-color:transparent">
    <div class="container text-center">
        <h1 style="color: white">සමෘද්ධි බැංකු සංගමය</h1>
        <h6 style="color: white">අදුරත්විල</h6>
    </div>
</div>

<div class="container-fluid bg-3 text-center">
    <h3></h3><br>
    <div class="row">
        <div class="col-sm-3">
            <p></p>
            <button type="button" class="btn btn-info btn-lg" [routerLink]="['/add-account']">නව ගිනුම්</button>
        </div>
        <div class="col-sm-3">
            <p></p>
            <button type="button" class="btn btn-info btn-lg" [routerLink]="['/view-accounts']">ගිණුම් විස්තර</button>
        </div>
        <div class="col-sm-3">
            <p></p>
            <button type="button" class="btn btn-info btn-lg" [routerLink]="['/update-account']">ශේෂය වෙනස් කිරීම</button>
        </div>
        <div class="col-sm-3">
            <p></p>
            <button type="button" class="btn btn-info btn-lg" [routerLink]="['/monthly-balance']">ශේෂ පිරික්සුම</button>
        </div>
    </div>
</div><br>

<div class="container-fluid bg-3 text-center">
    <div class="row">
        <div class="col-sm-3">
            <p></p>
            <button type="button" class="btn btn-info btn-lg">පොලිය ගණනය</button>
        </div>
        <div class="col-sm-3">
            <p></p>
            <button type="button" class="btn btn-info btn-lg"></button>
        </div>
        <div class="col-sm-3">
            <p></p>
            <button type="button" class="btn btn-info btn-lg"></button>
        </div>
        <div class="col-sm-3">
            <p></p>
            <button type="button" class="btn btn-info btn-lg" [routerLink]="['/add-accounttype']">නව ගිණුම් වර්ග</button>
        </div>
    </div>
</div><br><br>

<footer class="container-fluid text-center">
    <img src='../../../assets//logo.png' height="50px">
</footer>